Title: Estorm Technology Pte. Ltd
Template: home
Link text: Home

%section.intro
  %heading
    %h1 Estorm
  :markdown
    Hosted CRM software and customized hosted solutions.
    
    Scratch card data generation
    
    Distributor and inventory management (managing products at the distributor level)
%section.overview
  %heading
    %h1 What do we do?
  .content
    %h2 Hosted Software
    %p This website is an attempt to track and define investment performance for a set of quantitive trading strategies for a personal investment.  The quantitative strategies are generally evaluated using Mathematica.

    %p The performance results above are based on actual positions and include all trading costs. As this is my own money their are no incentives to take unreasonable risks and no leverage.

    %p The intent of this website is to provide a rigorous framework for documenting the trading strategies.  I also invite comments/criticisms of any approach.

%section.getting-started
  %heading
    %h1 Diverse Products
  :markdown
    + Hosted CRM customized to support your business
    + Distributor tracking
    + Ticket management
    + Scratch card data generation

%section.users
  %heading
    %h1 
      Who's using Estorm?
      %ul
        %li
          %blockquote
            “Estorm’s underlying technology is as robust and versatile as any solution in this space. The difference has been the support and ‘can do’ attitude which has enabled SmartRoam to have a single source of truth of our customers, from acquisition through to retention and support.”
            %cite
              Charles Tidswell,
              %a(href="http://chattimeapp.com") Chattime.com
          %li
            %blockquote
              “Estorm's solution allows us to offer on demand crm to our customers and billing integration with our prepaid platform.”
              %cite
                xxxxxx,
                %a(href="http://indosat.com") Indosat.com

%section.articles= article_summaries(latest_articles)
