Title: Estorm Technology Pte. Ltd
Template: home
Link text: Home

%section.intro
  %heading
    %h1 Estorm
  :markdown
    Increase sales and never lose track of customer leads. With EstormTech's process oriented approach to customer management tracking leads and sales activities have never been easier.
    
    Scratch card data generation and management of scratch cards at the distributor and point of sale level.
    
    No hidden costs using our affordable monthly subscriptions.  (Our charges are likely less than the cost of your mobile phone bill)
    
    Distributor and inventory management (managing products at the distributor level)
    
    Save time and money with a single unified view of customer activities, inventory management including management of time based services.
%section.overview
  %heading
    %h1 What do we do?
  .content
    %h2 Hosted Software Rationale
    :markdown
      * Ease of Software Installation	
      * Intuitive Software Interface
      * Support and Training
      * Competitive Pricing
      * Database Integrity
      * Access Security
      * Change Management 
    %h2 Streamline business processes
    :markdown
      * Improve sales productivity	
      * Reduce reporting requirements
      * Mobile CRM access
      * Prevent loss of accounts due to staff turnover
      * Track inventory


%section.features
  %heading
    %h1 Features
  :markdown
    * deployed on the cloud [Amazon](aws.amazon.com)
    * customization to suit your business requirements
    * over four years of operation
    * integrated solutions to manage customer communications (APN, SMS, Email, etc)
    * free trial

%section.getting-started
  %heading
    %h1 Diverse Products
  :markdown
    + Hosted CRM customized to support your business
    + Distributor tracking
    + Ticket management
    + Scratch card data generation

%section.users
  %heading
    %h1 
      Who's using Estorm?
      %ul
        %li
          %blockquote
            “Estorm’s underlying technology is as robust and versatile as any solution in this space. The difference has been the support and ‘can do’ attitude which has enabled SmartRoam to have a single source of truth of our customers, from acquisition through to retention and support.”
            %cite
              Charles Tidswell,
              %a(href="http://chattimeapp.com") Chattime.com
          %li
            %blockquote
              “Estorm's solution allows us to offer on demand crm to our customers and billing integration with our prepaid platform and our customer's mobile phones.”
              %cite
                Frederic,
                %a(href="http://indosat.com") Indosat.com

%section.articles= article_summaries(latest_articles)
