Title: Estorm Technology Pte. Ltd
Template: home
Layout: toppage
Link text: Home


%section.jumbotron
  %section.hero-unit
    %section.lucky1
      :markdown
        Increase sales and never lose track of customer leads. With EstormTech's process oriented approach to customer management tracking leads and sales activities have never been easier.

        Scratch card data generation and management of scratch cards at the distributor and point of sale level.

        No hidden costs using our affordable monthly subscriptions.  (Our charges are likely less than the cost of your mobile phone bill)

        Distributor and inventory management (managing products at the distributor level)

        Save time and money with a single unified view of customer activities, inventory management including management of time based services.


%section.intro2
  %header(role="banner")
    %hgroup 
      %img{:src=>"attachments/logoestorm.jpg", :width => "80", :height=>"80"}  

%section.intro2
  %heading
    %h1 Hidden
  :markdown
    ...

  .content
    %table.lgfont
      %tr
        %td 
          %a(href="/summary" ) 
            %p Summary
            %img{:src=>"attachments/OverallResults.jpg", :width => "240", :height=>"180", :alt=>"Summary"}
        %td 
          %a(href="/strategies/geographic") 
            %p Geographic Strategy
            %img{:src=>"attachments/worldmap.gif", :width => "240", :height=>"180"}

      %tr
        %td
          %a(href="/technotes") 
            %p Technology
            %img{:src=>"attachments/mathematica.png", :width => "200", :height=>"140"}
        %td
          %a(href="/strategies/value") 
            %p Value
            %img{:src=>"attachments/bengraham.jpeg", :width => "150", :height=>"200"}

%section.users
  %heading
    %h1 
      Who's using Estorm?
      %ul
        %li
          %blockquote
            “Estorm’s underlying technology is as robust and versatile as any solution in this space. The difference has been the support and ‘can do’ attitude which has enabled SmartRoam to have a single source of truth of our customers, from acquisition through to retention and support.”
            %cite
              Charles Tidswell,
              %a(href="http://chattimeapp.com") Chattime.com
          %li
            %blockquote
              “Estorm's solution allows us to offer on demand crm to our customers and billing integration with our prepaid platform and our customer's mobile phones.”
              %cite
                Frederic,
                %a(href="http://indosat.com") Indosat.com
