Title: Estorm Technology Pte. Ltd
Template: home
Layout: toppage
Link text: Home


%section.jumbotron
  %section.hero-unit
    %section.lucky1
      :markdown
        Increase sales and never lose track of customer leads. With EstormTech's process oriented approach to customer management tracking leads and sales activities have never been easier.

        Scratch card data generation and management of scratch cards at the distributor and point of sale level.

        No hidden costs using our affordable monthly subscriptions.  (Our charges are likely less than the cost of your mobile phone bill)

        Distributor and inventory management (managing products at the distributor level)

        Save time and money with a single unified view of customer activities, inventory management including management of time based services.

.container-fluid
  .row-fluid
    .span6
      .media
      %a(href="/summary" class="pull-left" ) 
        %img{:src=>"attachments/logoestorm.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"media-object" }
      .media-body
        %a(href="/summary" ) 
          %h2.media-heading Summary
          %p Estorm overview.
    .span6
      .media
      %a(href="/products" class="pull-left" ) 
        %img{:src=>"attachments/logoestorm.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"media-object" }
      .media-body
        %a(href="/products" ) 
          %h2.media-heading Products
          %p Products include hosted CRM, distribution management system, scratch card data generation software and scratch card mathematical analysis.
  .row-fluid
    .span6
      .media
      %a(href="/support" class="pull-left" ) 
        %img{:src=>"attachments/logoestorm.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"media-object" }
      .media-body
        %a(href="/support" ) 
          %h2.media-heading Support
          %p We provide extensive support for our customers including an online ticketing system and telephone support.
    .span6
      .media
      %a(href="/contact" class="pull-left" ) 
        %img{:src=>"attachments/map.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"media-object" }
      .media-body
        %a(href="/contact" ) 
          %h2.media-heading Contact us
          %p We will promptly get back to you.
  .row-fluid
    .span9
      %section.lucky2
        %h2 Who uses Estorm?
        %ul
          %li
            %blockquote
              “Estorm’s underlying technology is as robust and versatile as any solution in this space. The difference has been the support and ‘can do’ attitude which has enabled SmartRoam to have a single source of truth of our customers, from acquisition through to retention and support.”
              %cite
                Charles Tidswell,
                %a(href="http://chattimeapp.com") Chattime.com
          %li
            %blockquote
              “Estorm's solution allows us to offer on demand crm to our customers and billing integration with our prepaid platform and our customer's mobile phones.”
              %cite
                Frederic,
                %a(href="http://indosat.com") Indosat.com


				.carousel(id="myCarousel" class="slide")
				  %ol.carousel-indicators
				    %li{"data-target"=>"#myCarousel", "data-slide-to"=>"0" ,:class=>"active"}
				    %li{"data-target"=>"#myCarousel", "data-slide-to"=>"1" }
				    %li{"data-target"=>"#myCarousel", "data-slide-to"=>"2" }
				    %li{"data-target"=>"#myCarousel", "data-slide-to"=>"3" }
				  .carousel-inner
				    .item.active
				      %img{:src=>"attachments/logoestorm.jpg", :alt=>"" }
				      .container
				        .carousel-caption
				          %h1 Estorm Technology Pte Ltd
				          %p.lead 
				            Hosted software, technolgoy and other services
				          %a(href="/summary" class="btn btn-large btn-primary") 
				            Review it for yourself
				    .item
				      %img{:src=>"attachments/products.jpg", :alt=>"" }
				      .container
				        .carousel-caption
				          %h1 We deliver softwared services and consulting
				          %p.lead 
				            Products include hosted CRM, distribution management system, scratch card data generation software and scratch card mathematical analysis..
				          %a(href="/products" class="btn btn-large btn-primary") 
				            Find out more about our products
				    .item
				      %img{:src=>"attachments/map.jpg", :alt=>"" }
				      .container
				        .carousel-caption
				          %h1 Where are we located
				          %p.lead 
				            A Singapore based company providing service across Asia.
				          %a(href="/contact" class="btn btn-large btn-primary") 
				            Contact us
				    .item
				      %img{:src=>"attachments/map.jpg", :alt=>"" }
				      .container
				        .carousel-caption
				          %h1 Antoher caption
				          %p.lead 
				            A Singapore based company providing service across Asia.
				          %a(href="/contact" class="btn btn-large btn-primary") 
				            Contact us
				  %a{:class=>"left carousel-control", :href=>"#myCarousel", "data-slide"=>"prev"}
				    <
				  %a{:class=>"right carousel-control" ,:href=>"#myCarousel", "data-slide"=>"next"}
				    >
