Categories: products
Template: home
Summary: Product list

%h1 Products
%section.overview
  / %heading
  / %h1 Strategies?
  :markdown
    A summary of the various products and solutions we deliver. 

    #### Technlogy
      We use [Mathematica](http://wolfram.com) and [ruby](http://ruby-lang.org) for website and integrated performance reporting for most of our technology development.  Some of our products are developed in [Smalltalk](http://pharo-project.org)

      Most of our reporting and database tools are hosed on Amazon.com services including Amazon's RDS and EC2 services.

#sidebar
  %heading
    %h1 Strategies
    %nav.categories
      - display_menu(Nesta::Menu.for_path('/products'), :class => "menu", :levels => 3)
