Categories: products
Template: home
Summary: Product list

%h1 Products
%section.overview
  / %heading
  / %h1 Strategies?
  :markdown
    A summary of the various products and solutions we deliver.

#sidebar
  %heading
    %h1 Strategies
    %nav.categories
      - display_menu(Nesta::Menu.for_path('/products'), :class => "menu", :levels => 3)
