Categories: products
Template: home
Summary: Product list

.container-flud
  .row-fluid
    .span9
      %h1 Products
      :markdown
        A summary of the various products and solutions we deliver. 

        #### Technlogy
        We use [Mathematica](http://wolfram.com) and [ruby](http://ruby-lang.org) for website and integrated performance reporting for most of our technology development.  Some of our products are developed in [Smalltalk](http://pharo-project.org)

        Most of our reporting and database tools are hosed on Amazon.com services including Amazon's RDS and EC2 services.

        The majority of our solutions use Twitter's bootstrap css so that the layout is responsive and adjusts appropriately deveping on device screen width.  You can see this in action if you shrink your browser down or visit the site on a mobile phone.  The menu at the top changes style to a drop down list and the content of the site reorganises to fit the screen.
    .span3
      = haml :product_menu, :layout => false

  .row-fluid
    .span9
    .span3
      = haml :learn_more, :layout => false