Title: Estorm Technology Pte. Ltd
Template: home
Link text: Summary

.container-fluid
  .row-fluid
    %h1 
      Services Summary
  .row-fluid
    %section.jumbotron
      %section.hero-unit
        %section.lucky1
          :markdown
            Increase sales and never lose track of customer leads. With EstormTech's process oriented approach to customer management tracking leads and sales activities have never been easier.

            Scratch card data generation and management of scratch cards at the distributor and point of sale level.

            No hidden costs using our affordable monthly subscriptions.  (Our charges are likely less than the cost of your mobile phone bill)

            Distributor and inventory management (managing products at the distributor level)

            Save time and money with a single unified view of customer activities, inventory management including management of time based services.

  /.container-fluid
  .row-fluid
    .span3
      %h2 Hosted Software Rationale
      :markdown
        * Ease of Software Installation	
        * Intuitive Software Interface
        * Support and Training
        * Competitive Pricing
        * Database Integrity
        * Access Security
        * Change Management 
    .span3
      %h2 Streamline business processes
      :markdown
        * Improve sales productivity	
        * Reduce reporting requirements
        * Mobile CRM access
        * Prevent loss of accounts due to staff turnover
        * Track inventory
    .span3
      %h2 Features
      :markdown
        * deployed on the cloud [Amazon](aws.amazon.com)
        * customization to suit your business requirements
        * over four years of operation
        * integrated solutions to manage customer communications (APN, SMS, Email, etc)
        * free trial
    .span3
      %h2 Diverse Products
      :markdown
        + Hosted CRM customized to support your business
        + Distributor tracking
        + Ticket management
        + Scratch card data generation
  .row-fluid
    .span9
      %section.lucky2
        = haml :estorm_users, :layout => false




/ %section.getting-started
/  %heading
/    %h1 Diverse Products
/  :markdown
/    + Hosted CRM customized to support your business
/    + Distributor tracking
/    + Ticket management
/    + Scratch card data generation


