Categories: mathematica
Template: home
Summary: Mathematica integration

%h1 Technology
:markdown
  We use [Ruby](http://ruby-lang.org) and [Mathematica](http://wolfram.com) for most of our technology development
  
  


