
%br
%br
.footer
  .accordian#footeraccordian
    .accordian-group
      .accordian-heading
      %a{:class=>"accordion-toggle", "data-toggle"=>"collapse" , "data-parent"=>"#footeraccordian", :href=>"#collapseOne"}
        .small
          Version, Copyright and System information
      #collapseOne{:class=> "accordion-body collapse"}
        .accordion-inner
          .panel
            .panel-heading
              .panel-title
                = "Version: " + "1.4"
            %img(src="/attachments/ficonab.jpg" width=80 height=30 alt='estorm logo')
            %a(href='http://www.ficonab.com')
            %h6 Copyright Ficonab Pte. Ltd. 2013
            %p
              %small
                Developed by Scott with Nesta, a
                = succeed "." do
                  %a(href="http://nestacms.com") Ruby CMS
                using the twitter 
                %a(href="http://getbootstrap.com/") boostrap
                css v3 to provide responsive support on various devices.
                Code for the entire website is available at
                %a(href="http://github.com/semdinsp/nestasites") github source

%script(type="text/javascript" src="http://code.jquery.com/jquery.js")
%script(type="text/javascript" src="/bootstrap/js/bootstrap.min.js")
%script(type="text/javascript" src="/javascripts/application.js")
%script(type="text/javascript" src="http://yandex.st/highlightjs/7.3/highlight.min.js")
  :javascript
    hljs.initHighlightingOnLoad();