%header(role="banner")
  %hgroup
    %h2= @subtitle 
    %img{:src=>"attachments/ficonab.jpg", :width => "100", :height=>"45"}  
    %h1= @heading
  %nav.primary
    - display_menu(@menu_items, :class => "menu", :levels => 1)
