
.navbar
  .container
    %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-responsive-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a(class="navbar-brand" href="/")
      .span
        %img( src="/attachments/ficonab.jpg" width=80 height=40 alt='estorm logo')
        / = @heading
    .nav-collapse.collapse.navbar-responsive-collapse
      - display_menu(@menu_items, :class => "nav nav-justified", :levels => 1)

