%h3 Who uses Estorm?
%ul
  %li
    %blockquote
      “Estorm’s underlying technology is as robust and versatile as any solution in this space. The difference has been the support and ‘can do’ attitude which has enabled SmartRoam to have a single source of truth of our customers, from acquisition through to retention and support.”
      %cite
        Charles Tidswell,
        %a(href="http://chattimeapp.com") Chattimeapp.com
  %li
    %blockquote
      “Estorm's solution allows us to offer on demand CRM to our customers and billing integration with our prepaid platform and our customer's mobile phones via sms.”
      %cite
        Frederic,
        %a(href="http://indosat.com") Indosat.com
