%script(type="text/javascript" src="http://code.jquery.com/jquery.js")
%script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
%footer.branding
  %p
    Copyright (C) Estorm Technologies Pte. Ltd. 2013