
.footer
  %p
    .small
      Copyright (C) Estorm Technologies Pte. Ltd. 2013

%script(type="text/javascript" src="http://code.jquery.com/jquery.js")
%script(type="text/javascript" src="/bootstrap/js/bootstrap.js")
%script(type="text/javascript" src="/javascripts/application.js")
/ %script(type="text/javascript" src="http://yandex.st/highlightjs/7.3/highlight.min.js")
/  :javascript
/    hljs.initHighlightingOnLoad();