.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        / %a.brand{:href => '/'} EstormTech
        / %img{:src=>"attachments/logoestorm.jpg", :width => "30", :height=>"40"}
        / %h4= @subtitle 
      .nav-collapse
        %ul.nav
        - display_menu(@menu_items, :class => "nav", :levels => 1) 

