%h4 Learn More
:markdown
  * Smartroam [iOS and Android](/attachments/casestudies/Case_Study_Consultantv2.pdf)
  * Rap Engineers [Manufacturing and Inventory control](/attachments/casestudies/Case_Study_Manufacturingv4.pdf)
  * Free CRM trial [Easy signup](http://admin.sg.estormtech.com/sites/create_crm)