%p Increase sales and never lose track of customer leads. With EstormTech's process oriented approach to customer management tracking leads and sales activities have never been easier.

%p  Scratch card data generation and management of scratch cards at the distributor and point of sale level.

%p No hidden costs using our affordable monthly subscriptions.  (Our charges are likely less than the cost of your mobile phone bill)

%p SMS based solutions to bill the consumer for our online solutions. We also provide SMS lotteries applications and SMS instant win solutions.

%p Distributor and inventory management (managing products at the distributor level)

%p Save time and money with a single unified view of customer activities, inventory management including management of time based services.