Title: Ficonab Algorithms
Template: home
Link text: Home

%section.intro
  %heading
    %h1 Ficonab
  :markdown
    An algorithmic trading business using Mathematica and integrated with interactive brokers.

%h2 Asset Management
%p This website is an attempt to track and define investment performance for a set of quantitive trading strategies for a personal investment.  The quantitative strategies are generally evaluated using Mathematica.

%p The performance results above are based on actual positions and include all trading costs. As this is my own money their are no incentives to take unreasonable risks and no leverage.

%p The intent of this website is to provide a rigorous framework for documenting the trading strategies.  I also invite comments/criticisms of any approach.

%section.articles= article_summaries(latest_articles)
