Categories: strategy
Template: home
Summary: Strategy list


.container-flud
  .row-fluid
    .span9
      %h1 Strategies
      :markdown
        A summary of the various active algorithmic strategies 

    .span3
      = haml :strategy_menu, :layout => false

/#sidebar
/  %heading
/    %h1 Strategies
/    %nav.categories
/      - display_menu(Nesta::Menu.for_path('/strategies'), :class => "menu", :levels => 3)
