Categories: strategy
Template: home
Summary: Strategy list

%h1 Strategies
%section.overview
  / %heading
  / %h1 Strategies?
  :markdown
    A summary of the various strategies in use.

#sidebar
  %heading
    %h1 Strategies
    %nav.categories
      - display_menu(Nesta::Menu.for_path('/strategies'), :class => "menu", :levels => 3)
