Categories: strategy
Template: home
Summary: Strategy list


.container
  .row
    .col-lg-9
      %h1 Strategies
      :markdown
        A summary of the various active algorithmic strategies 

    .col-lg-3
      = haml :strategy_menu, :layout => false

/#sidebar
/  %heading
/    %h1 Strategies
/    %nav.categories
/      - display_menu(Nesta::Menu.for_path('/strategies'), :class => "menu", :levels => 3)
