Categories: Technical Notes
Template: home
Summary: Bootstrap CSS V3 RC1 implementation
Date: 1 August 2013

.container
  .row
    .col-lg-9  
      %h1 Migrating to bootstrap V3

      %p I had no major problems porting to bootstrap V3.  The key issue was the the bootstrap.min.css file in the downloads was version 2 so I had to use the non compressed file (or it appeared that way in my application).   I did not use the 'dist' directory but perhaps will use that in later update. There were major changes to my header file code and the header is still a bit messed up. Please note that the code sample below does not have the proper indents but you can see it in my github (see the version information in the footer)

      :markdown
        Code:
            .navbar
            .container
            %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-responsive-collapse"} 
            %span.icon-bar 
            %span.icon-bar
            %span.icon-bar
            %a(class="navbar-brand" href="/")
            .span
            %img( src="/attachments/ficonab.jpg" width=80 height=40 alt='estorm logo')
            / = @heading
            .nav-collapse.collapse.navbar-responsive-collapse
            - display_menu(@menu_items, :class => "nav nav-justified", :levels => 1)


    .col-lg-3
      = haml :technote_menu, :layout => false