Categories: Technical Notes
Template: home
Summary: How to manually run a resue worker when you need to scale worker agents but do not want to make it permanament.
Date: 7 July 2011

.container
  .row
    .col-lg-9
      %h1 Manually running a resque worker.
      :markdown
        Creating a worker for resque to run it manually. Change to the root directory of the rails app.

            RAILS_ENV=production QUEUES="bisa_mimi_status,bisa_acquisition,bisa_promotion,bisa_automata" rake environment resque:work
    .col-lg-3
      = haml :technote_menu, :layout => false