Categories: Technical Notes
Template: home
Summary: Configure mathematica to sendmail on the Mac OS X
Date: 7 July 2011

.container
  .row
    .col-lg-9
      %h1 Using mathematica to send emails on a Mac OS X

      %p I have had problems with mathematica on versions 7,8,9 using sendmail to a remote server or gmail.  The best solution i have found so far is to configure postfix and send via localhost.

      %p Clearing/deleting the postfix queue

      %pre
        %code
          sudo postsuper -d ALL

      %p Sometimes starting postfix does not automatically start.  Attached are the launch ctl commands to start postfix.

      %pre
        %code 
          sudo launchctl unload /System/Library/LaunchDaemons/org.postfix.master.plist
          sudo launchctl load /System/Library/LaunchDaemons/org.postfix.master.plist
        
    .col-lg-3
      = haml :technote_menu, :layout => false

