Categories: lumpy
Template: home
Summary: How to deal with real world lumpy income flows

.container
  .row
    .col-lg-9
      %h1 Peronsal Strategy
  .row
    .col-lg-9
      :markdown
        One of the challenges that I don't see well addressed in financial literature is how to deal with real world income streams.  Eg, what happens when you are fired and don't have income.  How should you sell some of your portfolio in a meaningful way. Or how do you manage an inheritance or sale of a business.
    
        ### Simplest Advice
        I think the simplest advice is to take 75% of your assets in VT and 25% into BLV.  VT and BLV are both Vanguard ETF funds (yes I know some ETF funds will suffer from illidiquity).  I will run some numbers to see worst possible investment cases over time and update this paragraph.

        ### Income funding from your portfolio
        TBD
    
        ### Investing with lumpy amounts
        Many people advocate depositing money into the market but timing this investment is a problem.  I would recommend taking the e amount and investing it over a 6-12 month period.  This should allow some upside capture but also prevent investing at the top of a market. (More details to follow)
    .col-lg-3
      = haml :strategy_menu, :layout => false