Categories: value
Template: home
Summary: Value strategy

.container
  .row
    .col-lg-9
      %h1 Value Strategy
  .row
    .col-lg-9
      :markdown
        This is based Ben Graham’s  rules of thumb from the Intelligent Investor.
    
        ### Performance
        The attached chart show performance on various dates.
    
        ### Trade Process
        A value screener is created which searches for Low PEs and dividend growth. Some stocks are arbitrarily excluded.
    .col-lg-3
      = haml :strategy_menu, :layout => false
