Categories: sms
Template: home
Summary: SMS solutions for mobile billing and SMS/MMS games

.container-fluid
  .row-fluid
    .span9
      %h1 Extensive Telco Experience in the Mobile Space using SMS and MMS
      :markdown
        We have a live application with [Indosat](http://www.indosat.com) to bill our CRM solution to the customer's mobile phone. The customer sends an  SMS to a specified shortcode and receives a passcode. This passcode is effective a token which allows our CRM application to continue to run as it contains an encrypted date.  The customer is charged from the phones load and consequently we support both pre and postpaid consumers.

        The Estorm team has developed many SMS and MMS applications over time. For CURE (a startup 3G network in the Philippines which as sold to Smart) we developed a complete SMS and MMS based platform with an enterprise JMS bus.  Consumers could subscribe to various services and the services were configurable using a workflow engine.

        The team was involved with the creation of SMS services at [PhilWeb](http://www.philweb.com.ph) where the services scaled to handle millions of sms per week. One particular application was a SMS lottery which collected tax receipts and was sponsored by the Philippines Bureau of Internal Revenue as a way to track revenue at commercial establishments.

        The team was responsible for the launch of the first commercial ringtone service in Vietnam in 2000 for Mobifone.  This service went on to generate 150,000 USD a month in revenue for [Mobifone](http://www.millicom.com) and had a distributed mysql database providing reliable support for both Hanoi and Ho Chi Minh regions.  

    .span3
      = haml :product_menu, :layout => false

  .row-fluid
    .span9
    .span3
      = haml :learn_more, :layout => false